{extend name="./oscshop/admin/view/public/base.html" /}
{block name="content"}
<div class="page-header">
    <h1>	
        {$breadcrumb1}
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            {$breadcrumb2}
        </small>
    </h1>
</div>

<table class="table table-striped table-bordered table-hover search-form">
    <thead>

    <th><input name="condition" type="text" style="width: 80%;" placeholder="请输入姓名/联系电话/微信号" value="{:input('param.condition')}" /></th>
    <th>
        <select name="rectype">
            <option {if condition="$rectype eq null"} selected="selected"{/if}value="">全部账户类型</option>
            <option {if condition="$rectype eq 1"} selected="selected"{/if}value="1">主账户</option>
            <option {if condition="$rectype === 2"} selected="selected"{/if} value="2">小金库</option>
        </select>
    </th>
    <th>
        <a class="btn btn-primary" href="javascript:;" id="search" url="{:url('MemberBackend/finance_list')}">查询</a>
    </th>
</thead>
</table>	

<div class="row">
    <div class="col-xs-12">	
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>											
                        <th class="hidden-xs">ID</th>
                        <th class="hidden-xs">姓名</th>
                        <th class="hidden-xs">联系电话</th>
                        <th class="hidden-xs">邮箱</th>
                        <th class="hidden-xs">微信号</th>
                        <th class="hidden-xs">操作时间</th>
                        <th class="hidden-xs">操作说明</th>
                        <th class="hidden-xs">操作金额</th>
                        <th class="hidden-xs">账户类型</th>
                        <th class="hidden-xs">余额</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="v" empty="$empty"}
                    <tr>						
                        <td class="hidden-xs">{$v.itemid}</td>
                        <td class="hidden-xs">{$v.uname}</td>
                        <td class="hidden-xs">{$v.utel}</td>
                        <td class="hidden-xs">{$v.uemail}</td>
                        <td class="hidden-xs">{$v.uwecat}</td>
                        <td class="hidden-xs">{if condition="$v['addtime'] neq 0"}{$v.addtime|date="Y-m-d H:i:s",###}{else/}无{/if}</td>
                        <td class="hidden-xs">{$v.reason}</td>

                        <td class="hidden-xs">{$v.amount}</td>
                        <td class="hidden-xs">
                            {switch name="v.rectype"}
                            {case value="1"}主账户{/case}
                            {case value="2"}小金库{/case}
                            {/switch}
                        </td>
                        <td class="hidden-xs">{$v.balance}</td>
                    </tr>
                    {/volist}	

                    <tr>
                        <td colspan="20" class="page">{$list->render()}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script>
    $(function () {
        $("#search").click(function () {
            var url = $(this).attr('url');
            var query = $('.search-form').find('input,select').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            window.location.href = url;
        });
    });
</script>
{/block}