{extend name="./oscshop/admin/view/public/base.html" /}
{block name="content"}
<div class="page-header">
		<h1>
			{$breadcrumb2}
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				{$crumbs}
			</small>
		</h1>
</div>	
	<ul class="nav nav-tabs">
		
	  <li class="active"><a href="#tab-member" data-toggle="tab">会员资料</a></li>
	 
	  <li><a href="#tab-shipping" data-toggle="tab">收货地址</a></li>
	  
	</ul>

	<form class="form-horizontal">	
	<div class="tab-content">		
		<input name="uid" type="hidden" value="{$Request.param.id}" />		
		<div class="tab-pane active" id="tab-member">
			<table class="table table-binfoed">
				<tr>
				    <td>ID</td>
				    <td>{$data.uid}</td>
				</tr>
				<tr>
					<td>微信openId</td>
					<td>				
					{$data.openId}					
					</td>
				</tr>
                <tr>
                    <td>收货人</td>
                    <td>                
                    {$data.name}                 
                    </td>
                </tr>
                <tr>
                    <td>联系电话</td>
                    <td>                
                    {$data.telephone}                 
                    </td>
                </tr>
				<tr>
				    <td>主账户金额（元）</td>
				    <td><input name="mainAccount" type="text" style="width:200px;" value="{$data.mainAccount}" /></td>
				</tr> 
 				<tr>
				    <td>小金库金额（元）</td>
				    <td><input name="secondAccount" type="text" style="width:200px;" value="{$data.secondAccount}" /></td>
				</tr> 
				<tr>
					<td>创建时间</td>
					<td>{$data.create_time|date="Y-m-d H:i:s",###}</td>
				</tr>
				<tr>
					<td>状态</td>
					<td>	
						<label class="radio-inline">
						<input type="radio" checked="checked" value="1" name="checked">审核通过</label>
						<label class="radio-inline">
						<input type="radio" value="0" name="checked">审核不通过</label>
					</td>
				</tr>
				</table>
				<div class="form-group">
				
				<div style="margin-left:20px;">
					<input type="submit" id="send" value="提交" class="btn btn-primary" />
				</div>
			</div>
		</div>
		
		<div class="tab-pane" id="tab-shipping">
            <table class="table table-binfoed">
              <tr>
                <td>收货人姓名: {$data.name}</td>          
                <td>所在地:</td>
                <td>{$data.province},{$data.city},{$data.country}</td>         
                <td>地址:</td>
                <td>{$data.address}</td>        
              	<td>联系电话:</td>
              	<td>{$data.telephone}</td>
              </tr>
            </table>        
      </div>	
	
	</div>
	</form>	
	
{/block}
{block name="javascript"}

<script>
    $('#send').click(function(){
        $.post(
            "{'Admin/MemberBackend/edit'}",
            $('input[type=\'text\'],input[type=\'radio\']:checked,input[type=\'hidden\']'),
            function(data){
                if (data.code == 1) {
                    layer.msg(data.msg,{icon:1});
                    setTimeout(function(){
                        location.href = data.url;
                    },1000); 
                }else{
                    layer.msg(data.msg,{icon:2,time:3000});
                }
            }
        );
    });
    
    $(function(){	
    	{if condition="$Request.param.id"}
    			Oscshop.setValue("checked", {$data.checked|default=1});		
    	{/if}
    });
</script>							
{/block}