<li>
  <dl class="ncsc-region">
    <dt class="ncsc-region-title"> <span>
      <input type="checkbox" id="J_Group_1" class="J_Group" value=""/>
      <label for="J_Group_1">华东</label>
      </span> </dt>
    <dd class="ncsc-province-list">
        <div class="ncsc-province">
            <span class="ncsc-province-tab">
            <input type="checkbox" class="J_Province" id="J_Province_11" value="11"/>
            <label for="J_Province_11">浙江</label>
            </span> 
        </div>
        <div class="ncsc-province"><span class="ncsc-province-tab">
            <input type="checkbox" class="J_Province" id="J_Province_14" value="14"/>
            <label for="J_Province_14">江西</label>
            </span>
        </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_12" value="12"/>
        <label for="J_Province_12">安徽</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_10" value="10"/>
        <label for="J_Province_10">江苏</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_9" value="9"/>
        <label for="J_Province_9">上海</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_15" value="15"/>
        <label for="J_Province_15">山东</label>
        </span> </div>
    </dd>
  </dl>
</li>
<li class="even">
  <dl class="ncsc-region">
    <dt class="ncsc-region-title"> <span>
      <input type="checkbox" id="J_Group_2" class="J_Group" value=""/>
      <label for="J_Group_2">华北</label>
      </span> </dt>
    <dd class="ncsc-province-list">
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_5" value="5"/>
        <label for="J_Province_5">内蒙古</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_4" value="4"/>
        <label for="J_Province_4">山西</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_1" value="1"/>
        <label for="J_Province_1">北京</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_3" value="3"/>
        <label for="J_Province_3">河北</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_2" value="2"/>
        <label for="J_Province_2">天津</label>
        </span> </div>
    </dd>
  </dl>
</li>
<li>
  <dl class="ncsc-region">
    <dt class="ncsc-region-title"> <span>
      <input type="checkbox" id="J_Group_3" class="J_Group" value=""/>
      <label for="J_Group_3">华中</label>
      </span> </dt>
    <dd class="ncsc-province-list">
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_17" value="17"/>
        <label for="J_Province_17">湖北</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_16" value="16"/>
        <label for="J_Province_16">河南</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_18" value="18"/>
        <label for="J_Province_18">湖南</label>
        </span> </div>
    </dd>
  </dl>
</li>
<li class="even">
  <dl class="ncsc-region">
    <dt class="ncsc-region-title"> <span>
      <input type="checkbox" id="J_Group_4" class="J_Group" value=""/>
      <label for="J_Group_4">华南</label>
      </span> </dt>
    <dd class="ncsc-province-list">
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_20" value="20"/>
        <label for="J_Province_20">广西</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_21" value="21"/>
        <label for="J_Province_21">海南</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_19" value="19"/>
        <label for="J_Province_19">广东</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_13" value="13"/>
        <label for="J_Province_13">福建</label>
        </span> </div>
    </dd>
  </dl>
</li>
<li>
  <dl class="ncsc-region">
    <dt class="ncsc-region-title"> <span>
      <input type="checkbox" id="J_Group_5" class="J_Group" value=""/>
      <label for="J_Group_5">东北</label>
      </span> </dt>
    <dd class="ncsc-province-list">
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_7" value="7"/>
        <label for="J_Province_7">吉林</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_8" value="8"/>
        <label for="J_Province_8">黑龙江</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_6" value="6"/>
        <label for="J_Province_6">辽宁</label>
        </span> </div>
    </dd>
  </dl>
</li>
<li class="even">
  <dl class="ncsc-region">
    <dt class="ncsc-region-title"> <span>
      <input type="checkbox" id="J_Group_6" class="J_Group" value=""/>
      <label for="J_Group_6">西北</label>
      </span> </dt>
    <dd class="ncsc-province-list">
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_30" value="30"/>
        <label for="J_Province_30">宁夏</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_31" value="31"/>
        <label for="J_Province_31">新疆</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_29" value="29"/>
        <label for="J_Province_29">青海</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_28" value="28"/>
        <label for="J_Province_28">甘肃</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_27" value="27"/>
        <label for="J_Province_27">陕西</label>
        </span> </div>
    </dd>
  </dl>
</li>
<li>
  <dl class="ncsc-region">
    <dt class="ncsc-region-title"> <span>
      <input type="checkbox" id="J_Group_7" class="J_Group" value=""/>
      <label for="J_Group_7">西南</label>
      </span> </dt>
    <dd class="ncsc-province-list">
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_24" value="24"/>
        <label for="J_Province_24">贵州</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_26" value="26"/>
        <label for="J_Province_26">西藏</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_25" value="25"/>
        <label for="J_Province_25">云南</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_23" value="23"/>
        <label for="J_Province_23">四川</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_22" value="22"/>
        <label for="J_Province_22">重庆</label>
        </span> </div>
    </dd>
  </dl>
</li>
<li class="even">
  <dl class="ncsc-region">
    <dt class="ncsc-region-title"> <span>
      <input type="checkbox" id="J_Group_8" class="J_Group" value=""/>
      <label for="J_Group_8">港澳台</label>
      </span> </dt>
    <dd class="ncsc-province-list">
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_34" value="34"/>
        <label for="J_Province_34">澳门</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_33" value="33"/>
        <label for="J_Province_33">香港</label>
        </span> </div>
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_32" value="32"/>
        <label for="J_Province_32">台湾</label>
        </span> </div>
    </dd>
  </dl>
</li>
<li>
  <dl class="ncsc-region">
    <dt class="ncsc-region-title"> <span>
      <input type="checkbox" id="J_Group_9" class="J_Group" value=""/>
      <label for="J_Group_9">海外</label>
      </span> </dt>
    <dd class="ncsc-province-list">
      <div class="ncsc-province"> <span class="ncsc-province-tab">
        <input type="checkbox" class="J_Province" id="J_Province_35" value="35"/>
        <label for="J_Province_35">海外</label>
        </span> </div>
    </dd>
  </dl>
</li>
