{extend name="public:base" /}
{block name="content"}	
<div class="page-header">
	<h1>
		{$breadcrumb1}
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			{$breadcrumb2}
		</small>
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			{$crumbs}
		</small>			
		<button id="send" form="form-goods" type="submit" style="float:right;"  class="btn btn-sm btn-primary">提交</button>			
	</h1>
</div>
	<div class="row">
	<div class="col-xs-12">	
		<div class="panel-body">
        <form class="form-horizontal">
          <ul class="nav nav-tabs">
          	<li class="active"><a href="#tab-data" data-toggle="tab">基本信息</a></li>
          	<li><a href="#tab-param" data-toggle="tab">产品参数</a></li> 
            <li><a href="#tab-option" data-toggle="tab">选项</a></li>   
            <li><a href="#tab-discount" data-toggle="tab">折扣</a></li>                    
            <li><a href="#tab-image" data-toggle="tab">商品轮播图</a></li>      
            <li><a href="#tab-mobile" data-toggle="tab">详情描述</a></li>       
          </ul>
          <div class="tab-content">
          		
	          	<!-- 基本信息 START -->
	          	<div class="tab-pane active" id="tab-data">
	          		
	          		<div class="form-group required">
		                <label class="col-sm-2 control-label" for="input-image">
		                	<span title="" data-toggle="tooltip" data-original-title="建议上传800x800的图片"><font color="red">*</font> 缩略图：</span>
		                </label>
		                <div class="col-sm-10" id="thumb">
		                  <a id="thumb-image" href="#" data-toggle="image" class="img-thumbnail"><img src="__PUBLIC__/image/no_image_100x100.jpg" /></a>
		                  <input type="hidden" name="image" value="" id="input-image" />
		            	</div>
		            </div>   
		            
		            <div class="form-group required">
						<label class="col-sm-2 control-label" for="input-name2"><font color="red">*</font> 商品名称：</label>
						<div class="col-sm-10">
							<input id="input-name2" class="form-control" type="text" placeholder="商品名称" value="" name="name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-length-class"><font color="red">*</font> 商品分类：</label>
						<div class="col-sm-10">
							<select id="input-length-class" class="form-control" name="cat_id">
								{volist name="category" id="v"}
									<option {if condition="isset($goods)&&($v.id eq $goods['cat_id'])"}selected="selected"{/if} value="{$v.id}">{$v.name}</option>
								{/volist}
							</select>
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label"><font color="red">*</font> 商品价格(元)：</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" placeholder="商品价格(元)" value="" name="price">
						</div>
					</div>
					
					<div class="form-group required">
						<label class="col-sm-2 control-label"><font color="red">*</font> 库存数量(个)：</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" placeholder="库存数量(个)" value="999" name="stock">
						</div>
					</div>
					
					<div class="form-group required">
						<label class="col-sm-2 control-label">重量(g)：</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" placeholder="重量(不填写默认值100g)" value="" name="weight">
						</div>
					</div>
		            
		            <div class="form-group">
						<label class="col-sm-2 control-label" for="input-length">体积(m³)：</label>
						<div class="col-sm-10">
							<input id="input-length" class="form-control" type="text" placeholder="长*高*宽(不填写默认值0.01m³)" value="" name="bulk">
						</div>
					</div>

		            <div class="form-group">
						<label class="col-sm-2 control-label">商品类型：</label>
						<div class="col-sm-10">
							<label class="radio-inline">
							<input type="radio" checked="checked" value="1" name="isMainGoods">主商品</label>
							<label class="radio-inline">
							<input type="radio" value="0" name="isMainGoods">辅销品</label>
						</div>
					</div>

		            <div class="form-group">
						<label class="col-sm-2 control-label">商品状态：</label>
						<div class="col-sm-10">
							<label class="radio-inline">
							<input type="radio" checked="checked" value="1" name="status">上架</label>
							<label class="radio-inline">
							<input type="radio" value="0" name="status">下架</label>
						</div>
					</div>
		            
	          	</div>
	          	<!-- 基本信息 END -->
	          	
	          	<!-- 产品参数 START -->
	       		<div class="tab-pane" id="tab-param">
	          		<div class="table-responsive">
	                	<table id="param" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
								  <td class="text-left">参数名称</td>
								  <td class="text-right">参数值</td>
								  <td></td>
								</tr>
							</thead>
							<tbody>
							
							</tbody>
						</table>
		                <div><a  onclick="addParam();" class="add_image btn btn-primary ">添加参数</a></div>
                  </div>	          		
	          	</div>
	       		<!-- 产品参数 END -->

	       		<!-- 选项 START -->
	       		<div class="tab-pane" id="tab-option">
	          		<div class="table-responsive">
	                	<table id="option" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
								  <td class="text-left">选项值</td>
								  <td class="text-left">价格</td>
								  <td class="text-left">库存数量</td>
								  <td class="text-right">排序</td>
								  <td></td>
								</tr>
							</thead>
							<tbody>
							
							</tbody>
						</table>
		                <div><a  onclick="addOption();" class="add_image btn btn-primary ">添加选项</a></div>
                  </div>	          		
	          	</div>
	       		<!-- 选项 END -->
	       		
        		<!--折扣 START -->
	          	<div class="tab-pane" id="tab-discount">
	          		<div class="table-responsive">
	                	<table id="discount" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
								  <td class="text-left">单次购买达到数量</td>
								  <td class="text-right">折扣值(1-100 如果打9折，请输入90)</td>
								  <td></td>
								</tr>
							</thead>
							<tbody>
							
							</tbody>
						</table>
		                <div><a  onclick="addDiscount();" class="add_image btn btn-primary ">添加折扣</a></div>
                  </div>	          		
	          	</div>
	          	<!--折扣 END -->
	          	
	          	<!-- 商品相册 START -->
	          	<div class="tab-pane" id="tab-image">
	          		<div class="table-responsive">
	                	<table id="images" class="table table-striped table-bordered table-hover">
			                  <thead>
			                    <tr>
			                      <td class="text-left">商品图片</td>
			                      <td class="text-right">选项排序</td>
			                      <td></td>
			                    </tr>
			                  </thead>
		                	 <tbody></tbody>		                  
				          </table>
		                <div><a  onclick="addImage();" class="add_image btn btn-primary ">添加图片</a></div>
                  </div>
	          	</div>
	          	<!-- 商品相册 END -->
	          	
	          	
	          	<!-- 手机端描述 START -->
	          	<div class="tab-pane" id="tab-mobile">
	          		<div class="table-responsive">
	                	<table id="mobile_images" class="table table-striped table-bordered table-hover">
		                  <thead>
		                    <tr>
		                      <td class="text-left">详情图片</td>
		                      <td class="text-left">图片描述</td>
		                      <td class="text-right">选项排序</td>
		                      <td></td>
		                    </tr>
		                  </thead>
		                	 <tbody></tbody>
			              </table>  					          
		               	  <div><a  onclick="add_mobile_image();" class="add_image btn btn-primary ">添加图片</a></div>
                  </div>
	          	</div>
	          	<!-- 手机端描述 END -->
	          	
          </div>
        </form>
	</div>
	</div>
</div>
{/block}
{block name="javascript"}
<script>
    $('#send').click(function(){
    	$.post(
    		'{$action}',
    		$('input[type=\'text\'],input[type=\'radio\']:checked,input[type=\'hidden\'],select'),
    		function(data){
                if (data.code == 1) {
                    layer.msg(data.msg,{icon:1});
                    setTimeout(function(){
                        location.href = data.url;
                    },1000); 
                }else{
                    return layer.msg(data.msg,{icon:2});
                }
    		}
    	);
    });

	// 添加参数
	var param_now =0;
	function addParam() {
		html  = '<tr id="param-row' + param_now + '">'; 
		html += '  <td class="text-left"><input type="text" name="goods_param[' + param_now + '][param_name]" value="" class="form-control" /></td>';
		html += '  <td class="text-left"><input type="text" name="goods_param[' + param_now + '][param_value]" value="" class="form-control" /></td>';

		html += '  <td class="text-left"><button type="button" onclick="$(\'#param-row' + param_now  + '\').remove();" data-toggle="tooltip" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>';
		html += '</tr>';
		
		$('#param tbody').append(html);
		
		param_now++;
	}
	// 添加选项
	var option_now =0;
	function addOption() {
		html  = '<tr id="option-row' + option_now + '">'; 
		html += '  <td class="text-left"><input type="text" name="goods_option[' + option_now + '][option_name]" value="" class="form-control" /></td>';
		html += '  <td class="text-left"><input type="text" name="goods_option[' + option_now + '][option_price]" value="" class="form-control" /></td>';
		html += '  <td class="text-left"><input type="text" name="goods_option[' + option_now + '][stock]" value="" class="form-control" /></td>';
		html += '  <td class="text-left"><input type="text" name="goods_option[' + option_now + '][sort]" value="" class="form-control" /></td>';

		html += '  <td class="text-left"><button type="button" onclick="$(\'#option-row' + option_now  + '\').remove();" data-toggle="tooltip" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>';
		html += '</tr>';
		
		$('#option tbody').append(html);
		
		option_now++;
	}
	// 添加折扣
	var discount_row =0;
	function addDiscount() {
		html  = '<tr id="discount-row' + discount_row + '">'; 
		html += '  <td class="text-left"><input type="text" name="goods_discount[' + discount_row + '][quantity]" value="" class="form-control" /></td>';
		html += '  <td class="text-left"><input type="text" name="goods_discount[' + discount_row + '][discount]" value="" class="form-control" /></td>';
		html += '  <td class="text-left"><button type="button" onclick="$(\'#discount-row' + discount_row  + '\').remove();" data-toggle="tooltip" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>';
		html += '</tr>';
		
		$('#discount tbody').append(html);
		
		discount_row++;
	}
		

	var image_row =0;
	function addImage() {
		html  = '<tr id="gallery-image-row' + image_row + '">';
		html += '  <td class="text-left"><a href="#" id="thumb-image' + image_row + '"data-toggle="image" class="img-thumbnail"><img style="max-width: 100%;" src="__PUBLIC__/image/no_image_100x100.jpg" /><input type="hidden" name="goods_image[' + image_row + '][image]" value="" id="gallery-input-image' + image_row + '" /></td>';
		html += '  <td class="text-right"><input type="text" name="goods_image[' + image_row + '][sort_order]" value="'+image_row+'" class="form-control" /></td>';
		html += '  <td class="text-left"><button type="button" onclick="$(\'#gallery-image-row' + image_row  + '\').remove();" data-toggle="tooltip" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>';
		html += '</tr>';
		
		$('#images tbody').append(html);
		
		image_row++;
	}


	var mobile_image_row =0;
	function add_mobile_image() {
		html  = '<tr id="mobile-image-row' + mobile_image_row + '">';
		html += '  <td class="text-left"><a href="#" id="mobile-thumb-image' + mobile_image_row + '"data-toggle="image" class="img-thumbnail"><img style="max-width: 100%;" src="__PUBLIC__/image/no_image_100x100.jpg" /><input type="hidden" name="mobile_image[' + mobile_image_row + '][image]" value="" id="mobile-input-image' + mobile_image_row + '" /></td>';
		html += '<td class="text-right"><input type="text" name="mobile_image['+mobile_image_row+'][description]" value="" class="form-control" /></td>';
		html += '  <td class="text-right"><input type="text" name="mobile_image[' + mobile_image_row + '][sort_order]" value="'+mobile_image_row+'"  size="1" class="form-control" /></td>';
		html += '  <td class="text-left"><button type="button" onclick="$(\'#mobile-image-row' + mobile_image_row  + '\').remove();" data-toggle="tooltip" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>';
		html += '</tr>';
		
		$('#mobile_images tbody').append(html);
		
		mobile_image_row++;
	}

	$('#option a:first').tab('show');	

</script>
{/block}