{extend name="public:base" /}
{block name="content"}
<div class="page-header">
    <h1>
        {$breadcrumb1}
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            {$breadcrumb2}
        </small>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            {$crumbs}
        </small>
    </h1>
</div>

{if condition="$Request.param.id"}
<input name="goods_id" type="hidden" value="{$Request.param.id}" />
{/if}

<div class="row">
    <div class="col-xs-12">
        <div class="panel-body">
            <form  method="post" enctype="multipart/form-data" id="form-goods" class="form-horizontal">
                <div class="tab-content">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-left"> </label>
                        <div class="col-sm-5">
                            <div class="clearfix">
                                <textarea name="description" id="description">{$goods['description']}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-left"> </label>
                        <div class="col-sm-5">
                            <input id="send" name="send" type="submit" value="提交" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script src="__PUBLIC__/js/ckeditor/ckeditor.js"></script>
<script>
    $('#send').click(function(){
        $.post(
            "{'Admin/Goods/edit_mobile'}",{},function(data){
                if (data.code == 1) {
                    layer.msg(data.msg,{icon:1});
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                }else{
                    layer.msg(data.msg,{icon:2});
                }
            }
        );
    });

    //CKEDITOR
    CKEDITOR.replace('description', {
        filebrowserImageUploadUrl: '{:url("FileManager/ckupload")}',
        height : 350,
        width : 800 ,
        toolbar: [
            [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ],
            [ 'FontSize', 'TextColor', 'BGColor' ],
            [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock','Image','Format']
        ]
    });
</script>
{/block}