<link rel="stylesheet" href="__PUBLIC__/shop.css" />
        <table class='wst-order-list'>
            <thead>
            <tr class='head'>
                <th style="padding-left:8px; text-align: center;">商品ID</th>
                <th style="padding-left:8px;">商品名称</th>
                <th style="padding-left:8px; text-align: center;">商品分类</th>
                <th style="padding-left:8px; text-align: center;">商品价格</th>
                <th style="text-align: center;" >操作</th>
            </tr>
            </thead>
            <tbody id='loadingBdy1' style='display:none'>

            </tbody>
            <script id="tblist1" type="text/html">
                {{# for(var i = 0; i < d.length; i++){ }}
                <tbody class="j-order-row1" data-goodid="{{d[i]['goods_id']}}" data-goptionid="{{#if(d[i].goods_option_id){}}{{d[i]['goods_option_id']}}{{# }else{ }}0{{# } }}">
                <tr class='goods-box'>
                    <td style="padding:2px; text-align: center;" class="overh_td">
                        {{d[i]['goods_id']}}
                    </td>
                    <td style="padding:2px" class="good-name" data-imgsrc="/public/uploads/{{d[i]['image']}}">
                        {{d[i]['name']}}
                    </td>
                    <td style="padding:2px; text-align: center;">
                        {{d[i]['cat_name']}}
                    </td>
                    <td style="padding:2px; text-align: center;" class="good-price">
                        {{#if(d[i].option_price){}}{{d[i]['option_price']}}{{# }else{ }}{{d[i]['price']}}{{# } }}
                    </td>
                    <td style="padding:2px; text-align: center;" class="choose_cancel">
                        <a href="javascript:void(0)">【选择】</a>
                    </td>
                </tr>
                </tbody>
                {{# } }}
            </script>
            <tr class='empty-row'>
                <td colspan='6' id='pager1' align="center" style='padding:20px 0px 5px 0px'>&nbsp;</td>
            </tr>
        </table>

    <script>
        $(function () {
            quotationChoiceByPage();
            
            $('.wst-order-list').on('click','.choose_cancel a',function (){
            	var tr = $(this).parent().parent('.goods-box'),
				goodid = tr.parent().attr('data-goodid'),
				goodpic = tr.find('.good-name').attr('data-imgsrc'),
				goodname = tr.find('.good-name').html(),
				goodprice = tr.find('.good-price').html(),
				goodguig = tr.find('.good-guig').html();
				html='<li>';
				html+='<input name="free_goods_id[]" type="hidden" class="goods-id" value="'+goodid+'" type="text">';
	           	html+='<button type="button" class="btn btn-danger pgoods-del"><i class="fa fa-trash-o"></i></button>';
	           	html+='<a href="#" class="img-thumbnail">';
	           	html+='<img src="'+goodpic+'">';
	           	html+='</a>';
	           	html+='<a class="pgoods-name" href="#">'+goodname+'</a>';
	           	html+='<p>价格：'+goodprice+'</p>';
	           	html+='</li>';
				$('ul.free_pgoods').append(html);
				$(this).parent().html('<span style="color: red;">已选择</span>');
            })
           	
        })

        function quotationChoiceByPage(p) {
            var params = {};
            params.page = p;
            $.post("{:url('admin/Promotion/getChooseGoods')}", params, function (data, textStatus) {
                var json = infoToJson(data);
                $('.j-order-row1').remove();

                    var gettpl = document.getElementById('tblist1').innerHTML;
                    laytpl(gettpl).render(json.data, function (html) {
                        $(html).insertAfter('#loadingBdy1');
                        $('ul.free_pgoods .goods-id').each(function(){
                        	var goodid = $(this).val();
                            $('tbody[data-goodid="'+ goodid +'"]').find('.choose_cancel').html('<span style="color: red;">已选择</span>');
			           	})
                    });
                    if (json.last_page > 1) {
                        laypage({
                            cont: 'pager1',
                            pages: json.last_page,
                            curr: json.current_page,
                            skin: '#e23e3d',
                            groups: 3,
                            jump: function (e, first) {
                                if (!first) {
                                    quotationChoiceByPage(e.curr);
                                }
                            }
                        });
                    } else {
                        $('#pager1').empty();
                    }

            });
        }

        infoToJson = function (str) {
            var json = {};
            try {
                if (typeof(str) == "object") {
                    json = str;
                } else {
                    json = eval("(" + str + ")");
                }

            } catch (e) {
                json = {};
            }
            return json;
        }
    </script>